Repository MightyShashank/SPE-Calculator: changes, and which Jenkins stages are due for each by the changed paths.
All: Build Frontend, Test Frontend, Build Backend, Test Backend

Jenkinsfile:

pipeline {
    agent any

    stages {
        // --- FRONTEND PIPELINE STAGES ---
        stage('Build Frontend') {
            when {
                // This condition checks if any changed files are inside the 'frontend/' folder
                changeset "frontend/**"
            }
            steps {
                echo 'Changes detected in frontend folder. Building the frontend...'
                dir('frontend') {
                    // Your frontend build commands go here
                    sh 'npm install'
                    sh 'npm run build'
                }
            }
        }

        stage('Test Frontend') {
            when {
                changeset "frontend/**"
            }
            steps {
                echo 'Testing the frontend...'
                dir('frontend') {
                    sh 'npm test'
                }
            }
        }

        // --- BACKEND PIPELINE STAGES ---
        stage('Build Backend') {
            when {
                // This condition checks if any changed files are inside the 'backend/' folder
                changeset "backend/**"
            }
            steps {
                echo 'Changes detected in backend folder. Building the backend...'
                dir('backend') {
                    // Your backend build commands go here (e.g., for Maven)
                    sh 'mvn clean package'
                }
            }
        }

        stage('Test Backend') {
            when {
                changeset "backend/**"
            }
            steps {
                echo 'Testing the backend...'
                dir('backend') {
                    sh 'mvn test'
                }
            }
        }
    }
}

Added frontend and backend folders
  backend/index.js
  frontend/index.js
Due: Build Frontend, Test Frontend, Build Backend, Test Backend

Updated Jenkins file testing-v2
  Jenkinsfile
Due: none

Added index2.js in frontend for testing webhook triggers for when frontend
  frontend/index2.js
Due: Build Frontend, Test Frontend

Intiialised frontend, updated jenkinsfile with netlify deployment for frontend
  frontend/.gitignore
  frontend/README.md
  frontend/eslint.config.js
  frontend/index.html
  frontend/index.js
  frontend/index2.js
  frontend/package-lock.json
  frontend/package.json
  frontend/public/vite.svg
  frontend/src/App.css
  frontend/src/App.jsx
  frontend/src/assets/react.svg
  frontend/src/index.css
  frontend/src/main.jsx
  frontend/vite.config.js
Due: Build Frontend, Test Frontend

Updated Jenkinsfile for netlify deployment
  .gitignore
  Jenkinsfile
Due: none

added trigger.txt since the when clause didnt allow the netlify deployment to trigger
  frontend/trigger.txt
Due: Build Frontend, Test Frontend

Added docker agent thing for node installation issue on jenkins agent
  Jenkinsfile
  frontend/trigger.txt
Due: Build Frontend, Test Frontend

Updated trigger.txt
  frontend/trigger.txt
Due: Build Frontend, Test Frontend

Updated docker jenkins agent
  Jenkinsfile
  frontend/trigger.txt
Due: Build Frontend, Test Frontend

Added cleanup logic in jenkinsfile
  Jenkinsfile
  frontend/trigger.txt
Due: Build Frontend, Test Frontend

Added cleanup logic in jenkinsfile changed with post
  Jenkinsfile
  frontend/trigger.txt
Due: Build Frontend, Test Frontend

Added cleanup logic in jenkinsfile changed with post, removed docker for fixing conf, switched to node of localhost
  Jenkinsfile
  frontend/trigger.txt
Due: Build Frontend, Test Frontend

Removed docker for jenkinsfile, trying the nodejs plugin method
  Jenkinsfile
  frontend/trigger.txt
Due: Build Frontend, Test Frontend

Removed docker for jenkinsfile, trying the nodejs plugin method
  frontend/trigger.txt
Due: Build Frontend, Test Frontend

Removed docker for jenkinsfile, trying the nodejs plugin method v2
  Jenkinsfile
  frontend/trigger.txt
Due: Build Frontend, Test Frontend

Removed docker for jenkinsfile, trying the nodejs plugin method v3
  Jenkinsfile
  frontend/trigger.txt
Due: Build Frontend, Test Frontend

Added calci frontend
  frontend/src/App.jsx
Due: Build Frontend, Test Frontend

Updated frontend for calculator
  frontend/.gitignore
  frontend/README.md
  frontend/eslint.config.js
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.js
  frontend/src/App.jsx
  frontend/src/index.css
  frontend/tailwind.config.js
  frontend/vite.config.js
Due: Build Frontend, Test Frontend

Updated Frontend with the required features
  backend/index.js
  backend/package-lock.json
  backend/package.json
  frontend/src/App.jsx
Due: Build Frontend, Test Frontend, Build Backend, Test Backend

Added test scripts 9 test scripts
  Jenkinsfile
  frontend/package-lock.json
  frontend/package.json
  frontend/src/scientific-calculator.test.jsx
  frontend/src/setup.js
  frontend/trigger.txt
  frontend/vite.config.js
Due: Build Frontend, Test Frontend

Updated backend with ansible and docker deployments
  Jenkinsfile
  backend/Dockerfile
  backend/ansible/deploy.yml
  backend/ansible/hosts
Due: Build Backend, Test Backend

added trigger.txt and fixed the docker push permission issue
  backend/trigger.txt
Due: Build Backend, Test Backend

testing identifying the deleted token
  backend/trigger.txt
Due: Build Backend, Test Backend

fixed the docker cred option hopefully
  backend/trigger.txt
Due: Build Backend, Test Backend

fixed the ansible playbook path issue
  Jenkinsfile
Due: none

fixed the ansible playbook path issue
  backend/trigger.txt
Due: Build Backend, Test Backend

fixed the ansible playbook path issue added backend dir path
  Jenkinsfile
  backend/trigger.txt
Due: Build Backend, Test Backend

fixed the ansible playbook path issue added backend dir path
  backend/ansible/deploy.yml
  backend/trigger.txt
Due: Build Backend, Test Backend

fixed docker runtime issue of ansible py, The Ansible docker_image and docker_container modules rely on the Python Docker SDK (a package named docker in pip)
  backend/ansible/deploy.yml
  backend/trigger.txt
Due: Build Backend, Test Backend

port 4000 issue
  backend/trigger.txt
Due: Build Backend, Test Backend

Updated the feature to delete earlier container and put new container
  backend/ansible/deploy.yml
  backend/trigger.txt
Due: Build Backend, Test Backend

Added some changes to fix restart container policy
  backend/ansible/deploy.yml
  backend/trigger.txt
Due: Build Backend, Test Backend
