Repository MightyShashank/SPE-Calculator: changes, and which Jenkins stages are due for each by the changed paths.
All: Test Frontend, Build and Deploy Frontend, Build Backend, Test Backend, Build Docker Image, Push Docker Image to Hub, Deploy with Ansible

Path conditions:
  Test Frontend: any of: frontend/**
  Build and Deploy Frontend: any of: frontend/**
  Build Backend: any of: backend/**
  Test Backend: any of: backend/**
  Build Docker Image: any of: backend/**
  Push Docker Image to Hub: any of: backend/**
  Deploy with Ansible: any of: backend/**

Changes to check if container is restarting on image update
  backend/trigger.txt
Due: Build Backend, Test Backend, Build Docker Image, Push Docker Image to Hub, Deploy with Ansible

Updated Jenkinsfile for email notification
  Jenkinsfile
Due: none

Updated Jenkinsfile for email notification to give ngrok url output
  Jenkinsfile
Due: none

Updated Jenkinsfile email template
  Jenkinsfile
Due: none

Updated Jenkinsfile email template, refactored the getTemplates function
  Jenkinsfile
Due: none

Updated Jenkinsfile email template- checking pipeline outputs in email
  Jenkinsfile
Due: none

Updated Jenkinsfile email template- checking pipeline outputs in email
  backend/trigger.txt
Due: Build Backend, Test Backend, Build Docker Image, Push Docker Image to Hub, Deploy with Ansible

Updated Jenkinsfile email template- checking pipeline outputs in email
  Jenkinsfile
  backend/trigger.txt
Due: Build Backend, Test Backend, Build Docker Image, Push Docker Image to Hub, Deploy with Ansible

Added .dockerignore and updated Dockerfile with multi-stage builds
  backend/.dockerignore
  backend/Dockerfile
Due: Build Backend, Test Backend, Build Docker Image, Push Docker Image to Hub, Deploy with Ansible

Added .dockerignore and updated Dockerfile with multi-stage builds
  backend/Dockerfile
  backend/trigger.txt
Due: Build Backend, Test Backend, Build Docker Image, Push Docker Image to Hub, Deploy with Ansible

trigger test
  frontend/trigger.txt
Due: Test Frontend, Build and Deploy Frontend

trigger test
  Jenkinsfile
  backend/trigger.txt
Due: Build Backend, Test Backend, Build Docker Image, Push Docker Image to Hub, Deploy with Ansible

trigger test
  backend/trigger.txt
  frontend/trigger.txt
Due: Test Frontend, Build and Deploy Frontend, Build Backend, Test Backend, Build Docker Image, Push Docker Image to Hub, Deploy with Ansible

trigger test
  Jenkinsfile
  backend/trigger.txt
  frontend/trigger.txt
Due: Test Frontend, Build and Deploy Frontend, Build Backend, Test Backend, Build Docker Image, Push Docker Image to Hub, Deploy with Ansible

trigger test
  Jenkinsfile
Due: none
